/* Centrage de la page et styles de base */
:root {
    --1: #00315a;
    --2: #1d3f79;
    --3: #6052a1;
    --4: #b366cd;
    --5: #ff7df5;
}


body {
    font-family: 'Arial', sans-serif;   
    background-color: var(--3);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    max-width: 500px;
    margin: 20px;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 2.5em;
    color: var(--5);
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.rabbit-img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Styles pour le bouton */
.start-btn {
    background-color: var(--5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color:  var(--4);
}
